---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>
<div align="center">
    <iframe src="{{ site.baseurl }}/js/p_rain/index.html" frameborder="1" scrolling="no" style="width:100%; height:70vh"></iframe>
    <!--<iframe src="{{ site.baseurl }}/js/p_rain/index.html" width="600px" height="400px"></iframe>-->
</div>
<!--<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:100 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}/{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
-->
